.YearNav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid black;
    padding: 10px 30px 30px;
    color: black;
}

.YearList {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 40px;

}

.LeftRightYearNav {
    padding: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.LeftRightYearNav svg {
    cursor: pointer;
    color: #888;
}

.MonthNavMonth {
    font-weight: lighter;
    cursor: pointer;
    /* padding: 10px; */
}

.MonthNavMonth:hover {
    scale: 1.1;
    text-decoration: underline;
    /* font-weight: bold; */
}

.CursorPointer {
    cursor: pointer;
}