.Calendar {
    /* margin: 5% auto; */
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.CalendarTable {
    width: 100%;
    height: 100%;
    border: 3px solid blueviolet;
    border-spacing: unset;
    table-layout: fixed;
}

.TableHeader{
    background-color: blueviolet;
    height: 10%;
}

.TableHeader tr td{
    color: #fff;
}
 
td{
    font-size: 20px;
    font-weight: bold;
}


.CurrentDay {
    margin: auto;
    padding: 20%;
    border-bottom: 4px solid blueviolet;
    background-color: rgba(144, 166, 236, 0.9);
}




.CursorPointer {
    cursor: pointer;
}

.NavToCurrDay {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.NavToCurrDayIcon {
    color: blueviolet;
    cursor: pointer;
    scale: 2;
}

.NavToCurrDay:hover .TooltipText{
    visibility: visible;
}

.TooltipText {
    background-color: blueviolet;
    opacity: 0.85;
    border-radius: 10px;
    width: 90px;
    font-size: 12px;
    transform: translate(-50%, -140%);
    color: white;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

